---
layout: default
title: LeadWise
---

<!--Top Social Media-->
<div class="top-social">
  {% include social_links.html %}
</div>

{% include banner_products.html %}

<!--Banner-->
<div class="banner">
  <img src="assets/images/logo-leadwise.svg" alt="LeadWise" class="logo-leadwise">
  <h1>manifesto</h1>
</div>

<!--Text Internal Page-->
<div class="internal-text-block">
  <div class="wrap-content">
    <p>It is clear that the way the world works is no longer working.</p>
    <p>Our traditional organizational model is based on hierarchies, and the employee employer relationship is broken and based on distrust.</p>
    <p>This leads many people to feel they’re working on autopilot and not driven by purpose.</p>
    <p>On the other hand, organizations waste resources on disengaged workers and are also losing employees who leave jobs to find greater flexibility, and fulfillment in entrepreneurial ventures.</p>
    <p>We believe that work practices from the past are holding individuals and organizations back.</p>
    <p>We know that there is another way.</p>
    <p>It’s been proven time and time again.</p>
    <p>We can help you change how work works today in order to improve work satisfaction for your employees and produce better results for your companies.</p>
  </div>
</div>

<!--Subscribe Block-->
<div class="subscribe-block">
  <div class="wrap-content">
    <img src="assets/images/subscribe.svg" alt="Subscribe" class="subscribe-img">
    <h2>Subscribe to our newsletter and master the skills & mindsets to change how work works.</h2>
    <form action="">
      <input type="text">
      <button>Subscribe</button>
    </form>
  </div>
</div>
