footer{
  background: $lw-dark-bg;
  color: $font-lw-dark-bg;
  padding: 3em 0;
  section{
    @include span-columns(4);
    @include omega();
    padding: 0 2em;
    @include media($tablet) {
      @include span-columns(4);
      @include omega();
    }
    @include media($mobile) {
      @include span-columns(12);
    }
    .logo-leadwise{
      height: 3em;
    }
    ul{
      padding: 0;
      a {
        color: $font-lw-light-bg;
      }
      li {
        display: inline-block;
        i{
          padding: .5em;
        }
      }
    }
    h4{
      font-size: 1.5em;
    }
    .menu-links{
      li{
        display: block;
        text-transform: uppercase;
      }
      p{
        font-size: .85em;
        margin: .5em 0;
      }
    }
    .footer-col-2{
      @include span-columns(2 of 4);
      @include media($tablet) {
        width: 100%;
      }
    }
  }
  .footer-bye{
    font-size: .8em;
    text-align: center;
  }
}