html,
body {
  margin: 0;
  padding: 0;
}

.wrap-content{
  @include outer-container;
  @include media($tablet) {
    padding: 0 2em;
  }
}

.top-social {
  background: $lw-light-bg;
  display: table;
  width: 100%;
  ul {
    @include outer-container;
    display: block;
    margin: 0 auto;
    // float: right;
    // list-style: none;
    // margin: 0;
    // padding: 0;
    a {
      color: $font-lw-light-bg;
    }
    li {
      display: inline-block;
      float: right;
      padding: .5em 1em;
      @include media($mobile) {
        float: inherit;
      }
    }
  }
}

.banner{
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  display: table;
  padding: 3em 0 10em;
  width: 100%;
  .logo-leadwise{
    display: block;
    height: 5em;
    margin: 0 auto;
  }
  h1{
    text-align: center;
    @include media($tablet) {
      font-size: 3em;
      padding: 0 1em;
    }
  }
  .form-subscribe {
    @include span-columns(6);
    @include shift(3);
    @include media($tablet) {
      @include span-columns(8);
      @include shift(1);
    }
    @include media($mobile) {
      @include span-columns(10);
      @include shift(1);
    }
    .subscribe-img{
      @include span-columns(2 of 6);
      height: 10em;
       @include media($mobile) {
         display: none;
       }
    }
    form{
      @include span-columns(4 of 6);
       @include media($mobile) {
         width: 100%;
       }
      input{
        width: 60%;
        float: left;
        @include media($mobile) {
         width: 100%;
        }
      }
      button{
        @include media($mobile) {
         float: right;
        }
      }
    }
  }
}

.about-lw-co{
  background: $lw-blue;
  color: $font-white;
  display: table;
  padding: 3em 0;
  width: 100%;
  h3{
    text-align: center;
  }
  .about-col-2{
    @include span-columns(6);
    @include omega();
    padding: 0 2em;
    @include media($mobile) {
      @include span-columns(12);
    }
    img{
      height: 8em;
    }
  }
  .products{
    text-align: center;
  }
}

.internal-text-block{
  margin: 3em 0;
  p{
    padding: 0 15em;
    @include media($tablet) {
      padding: 0 8em;
    }
    @include media($mobile) {
      padding: 0 2em;
    }
  } 
}

.semler-bio{
  display: table;
  padding-bottom: 2.5em;
  width: 100%;
  h3{
    @include media($mobile) {
      text-align: center;
    }
  }
  span{
    @include span-columns(2);
    @include media($mobile) {
      @include span-columns(12);
      padding: 0 2em;
    }
    img{
      width: 100%;
    }
  }
  section{
    @include span-columns(10);
    @include media($mobile) {
      @include span-columns(12);
      padding: 0 2em;
    }
  }
}

.subscribe-block{
  background: $lw-blue;
  color: $font-white;
  padding: 2em 0;
  img{
    height: 6em;
    float: left;
    margin: 1.5em 0;
    padding: 0 2em;
    @include media($tablet) {
      height: 4em;
    }
    @include media($mobile) {
      display: none;
    }
  }
  h2{
    width: 40%;
    float: left;
    margin: 1em 0;
    @include media($tablet) {
      width: 30%;
    }
    @include media($mobile) {
      width: 100%;
      font-size: 1.8em;
    }
  }
  form{
    float: left;
    margin: 2.5em 0;
    width: 40%;
    @include media($tablet) {
      width: 50%;
    }
    @include media($mobile) {
      width: 100%;
      margin: 0 0 2.5em 0;
    }
    input{
      width: 60%;
      float: left;
      @include media($mobile) {
        width: 100%;
      }
    }
    button{
      @include media($mobile) {
        float: right;
      }
    }
  }
}