.menu-products {
  border-bottom: 1px solid $font-lw-light-bg;
  .menu-products-wrap {
    @include outer-container;
    section {
      @include span-columns(3);
      padding: 2em 0;
      text-align: center;
      @include media($mobile) {
        @include span-columns(6);
        @include omega();
        padding: 1em;
      }
    }
  }
  img {
    height: 4em;
    @include media($tablet) {
      height: 3em;
    }
  }
  a {
    color: $lw-black;
    text-decoration: none;
    &:hover > h2{
      color: $lw-blue;
    }
    h5 {
      color: $font-lw-light-bg;
      @include media($tablet) {
        font-size: .6em;
      }
    }
  }
}