a:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}


// Grid

.programs {

  .wrap-content {
    width: 800px;

    @include media($tablet) {
      width: 100%;
    }
  }
}


// Banner

.banner {
  background: url("../images/bg-webinars.svg") 0 0;
  background-position: bottom;
  background-repeat: repeat-x;
  display: table;
  padding: 70px 0 160px 0;
  text-align: center;
  width: 100%;

  @include media($tablet) {
    padding-bottom: 60px;

    br {
      display: none;
    }
  }

  .logo-leadwise {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
}

.banner-heading {

  h1 {
    margin: 37px 0 15px 0;
    line-height: 60px;

    @include media($tablet) {
      line-height: 31px;
      margin: 10px 0 0 0;
    }
  }

  h2 {
    width: 760px;
    color: $font-lw-light-bg;
    text-align: center;
    letter-spacing: .02em;
    margin: 0 auto;

    @include media($tablet) {
      width: 100%;
      font-size: 22px;
      margin-top: 15px;
    }
  }
}


// Sub banner

.sub-banner {
  @include clearfix;

  .call-01,
  .call-02 {
    width: 50%;
    box-sizing: border-box;
    padding: 0 4em;
    text-align: center;

    @include media($tablet) {
      width: 100%;
      height: auto;
      padding: 0;

      br {
        display: none;
      }
    }

    > div {
      padding: 40px 0 0 0;
    }

    h3 {
      margin: 0 0 15px 0;

      @include media($tablet) {
        font-size: 26px;
      }
    }

    p {
      margin: 0;
    }
  }

  .call-01 {
    float: left;

    h3 {
      color: rgba(#3ca5e0, .9);
    }

    > div {
      padding-right: 30px;

      @include media($tablet) {
        padding-right: 0;
      }
    }

    p {
      float: right;
    }
  }

  .call-02 {
    float: right;

    h3 {
      color: rgba(#d3a104, .9);
    }

    > div {
      padding-left: 30px;

      @include media($tablet) {
        padding-left: 0;
      }
    }
  }
}


// Buttons

.blue-but {
  border: 1px solid $lw-blue;
  background: rgba($lw-light-bg, .7);
  color: $lw-blue;

  &:hover {
    background: rgba($lw-blue, 1);
    color: #fff;
  }
}

.orange-but {
  border: 1px solid #d3a104;
  background: rgba($lw-light-bg, .7);
  color: #d3a104;

  &:hover {
    background: rgba(#d3a104, 1);
    color: #fff;
  }
}

.sample-but {
  height: 40px;
  line-height: 38px;
  padding: 0 15px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  font-family: 'open_sans_bold';
  text-align: left !important;
  margin-right: 4px;
  margin-top: 15px;

  @include media($tablet) {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-top: 7px;
  }

  .fa {
    margin: 11px 10px 0 0;
    font-size: 18px;
    float: left;
  }
}


// Programs list

.programs {
  text-align: center;
  padding: 0 0 60px 0;

  @include media($tablet) {
    padding-bottom: 50px;
  }
}

.programs-list {
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0;

  @include media($tablet) {
    margin-top: 50px;
  }

  li {
    background: #fff;
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid $lw-light-bg !important;
    position: relative;
    @include clearfix;

    @include media($tablet) {
      text-align: center;
      padding-top: 30px;
      margin-top: 30px;
    }

    > img {
      width: 200px;
      float: left;

      @include media($tablet) {
        float: none;
        margin-top: 20px;
      }
    }
  }

  li:first-child {

    @include media($tablet) {
      border-top: none;
      padding-top: 0;
      margin-top: 0;
    }
  }

  .program-infos {
    margin-left: 230px;
    margin-right: 170px;
    border-right: 1px solid $lw-light-bg;
    padding: 2px 20px 0 0;

    @include media($tablet) {
      margin: 20px 0 0 0;
      text-align: left;
      border-right: none;
      padding-right: 0;
      border-bottom: 1px solid $lw-light-bg;
      padding-bottom: 25px;
    }

    .second {
      margin-left: 20px;
    }
  }

  h4 {
    margin: 0 0 5px 0;

    a {
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
  }

  p {
    font-size: 14px;
    margin: 7px 0 0 0;
    line-height: 22px;
  }
}

.program-aside {
  width: 150px;
  position: absolute;
  right: 10px;
  top: 15px;

  @include media($tablet) {
    width: 100%;
    position: inherit;
    right: none;
    top: none;
    text-align: left;
    padding-bottom: 20px;
    right: 0;
  }

  > div {
    font-size: 12px;
    margin-top: 10px;
    color: $font-lw-light-bg;

    strong {
      font-family: 'open_sans_bold';
    }
  }
}

.in-person {
  font-family: open_sans_bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #000 !important;
}

.soon {
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  background: #ffcc00;
  display: inline-block;
  color: #000;
  font-family: open_sans_bold;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 15px;
}

.program-type-01 {

  h4 {
    color: $lw-blue;

    a {
      color: $lw-blue;
    }
  }
}

.program-type-02 {

  h4 {
    color: #d3a104 !important;

    a {
      color: #d3a104 !important;
    }
  }
}


// 404

.banner-404 {

  h1 {
    margin: 20px 0 10px 0;

    @include media($tablet) {
      margin: 0;
    }
  }

  .btn {
    margin-top: 40px;

    @include media($tablet) {
      margin-top: 20px;
    }
  }
}
