a:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}


// Grid

.banner {

  .wrap-content {


    @include media($tablet) {
      width: 100%;
    }
  }
}


// Banner

.banner {
  background: url("../images/banner-bg.jpg") 0 140px;
  background-size: cover;
  background-repeat: repeat-x;
  display: table;
  padding: 80px 0 200px 0;
  text-align: center;
  width: 100%;

  @include media($tablet) {
    padding: 70px 0 40px 0;
  }

  .logo-leadwise {
    width: 200px;
    display: block;
    margin: 0 auto;

    @include media($tablet) {
      width: 150px;
    }
  }
}

.banner-heading {

  h1 {
    margin: 50px 0 30px 0;
    line-height: 62px;

    @include media($tablet) {
      margin: 0;
    }
  }

  h2 {
    width: 760px;
    color: $font-lw-light-bg;
    text-align: center;
    letter-spacing: .02em;
    margin: 0 auto;

    @include media($tablet) {
      width: 100%;
      font-size: 22px;
    }
  }

  @include media($tablet) {
    background: $font-white;
    padding: 20px 10px 10px 10px;
  }
}


// 404

.banner-404 {

  h1 {
    margin: 20px 0 10px 0;

    @include media($tablet) {
      margin: 0;
    }
  }

  .btn {
    margin-top: 40px;

    @include media($tablet) {
      margin-top: 20px;
    }
  }
}
