input,
textarea {
  border: 1px solid $font-lw-light-bg;
  font-size: 1em;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%;
  &:focus {
    border: 1px solid $lw-blue;
  }
}

textarea {
  resize: vertical;
}

button, .btn-cta {
  background: $lw-cta;
  border: 0;
  color: $lw-black;
  display: inline-block;
  font-size: 1.4em;
  font-family: 'ostrich_sansmedium';
  letter-spacing: 0.1em;
  padding: .65em 1em;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.btn{
  @extend button;
  background: $lw-blue;
  color: $font-white;
}

.btn-simple{
  background: $lw-blue;
  color: $font-white;
  font-family: 'open_sans_light';
  padding: .5em 1em;
  text-decoration: none;
}

.a-simple-link{
  font-family: 'open_sans_bold';
  color: $lw-blue;
  padding: 0 2em;
  text-decoration: none;
}