<!--Menu Products-->
<div class="menu-products">
  <div class="menu-products-wrap">
  <section>
    <a href="http://changework.leadwise.co">
      <img src="assets/images/menu-products-icons/menu-products-change-work.svg" alt="Change Work">
      <h2>Change Work</h2>
      <h5>Interactive e-book bundle</h5>
    </a>
  </section>
  <section>
    <a href="http://academy.leadwise.co">
      <img src="assets/images/menu-products-icons/menu-products-academy.svg" alt="Academy">
      <h2>Academy</h2>
      <h5>Immersive online program</h5>
    </a>
  </section>
  <section>
    <a href="http://blog.leadwise.co">
      <img src="assets/images/menu-products-icons/menu-products-blog.svg" alt="Blog">
      <h2>Journal</h2>
      <h5>Our thoughts on leadership</h5>
    </a>
  </section>
  <section>
    <a class="scroll-link" data-soffset="0"  href="#subscribe-newsletter">
      <img src="assets/images/menu-products-icons/menu-products-newsletter.svg" alt="Newsletter">
      <h2>Newsletter</h2>
      <h5>News about the future of work</h5>
    </a>
  </section>
  </div>
</div>
