<div class="semler-bio">
  <div class="wrap-content">
    <h3>Meet Ricardo Semler</h3>
    <span><img src="assets/images/semler.jpg" alt="Ricardo Semler"></span>
    <section>
      <p>LeadWise co-founder <a href="http://ricardosemler.com" target="_blank">Ricardo Semler</a> is internationally recognized as a catalyst of change for employee-empowered leadership. Best known for his radical form of industrial democracy and corporate re-engineering, he’s the best-selling author of the classic Maverick and The Seven-Day Weekend, and an advocate corporate narratives driven by the values of trust, self-management and creativity. Ricardo brings his 30+ years of insight and unparalleled experience as inspiration to the Semco Digital team.</p>
    </section>
  </div>
</div>
