html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'ostrich_sansblack';
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ostrich_sansmedium';
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.svg#ostrich_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_light';
  src: url("../fonts/opensans/light/opensans-light-webfont.eot");
  src: url("../fonts/opensans/light/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans/light/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans/light/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_bold';
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_italic';
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
p a {
  color: #30A7E9;
  text-decoration: none; }

h1 {
  color: #30A7E9;
  font-family: 'ostrich_sansblack';
  font-size: 4em;
  margin: 1em 0; }

h2,
h3,
h4 {
  font-family: 'ostrich_sansmedium'; }

h2 {
  font-size: 2em;
  margin: .2em 0; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.35em; } }

h3 {
  font-size: 2.5em;
  margin: 1em 0; }

h4 {
  font-size: 2em;
  margin: .5em 0; }

h5 {
  font-family: 'open_sans_light';
  margin: 0;
  text-transform: uppercase; }

p {
  font-family: 'open_sans_light'; }

input,
textarea {
  border: 1px solid #95989A;
  font-size: 1em;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%; }
  input:focus,
  textarea:focus {
    border: 1px solid #30A7E9; }

textarea {
  resize: vertical; }

button, .btn {
  background: #FFCC00;
  border: 0;
  color: #000000;
  display: inline-block;
  font-size: 1.4em;
  font-family: 'ostrich_sansmedium';
  letter-spacing: 0.1em;
  padding: .65em 1em;
  text-decoration: none; }
  button:hover, .btn:hover {
    cursor: pointer;
    text-decoration: none; }

.btn {
  background: #30A7E9;
  color: #FFFFFF; }

html,
body {
  margin: 0;
  padding: 0; }

.wrap-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrap-content::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 768px) {
    .wrap-content {
      padding: 0 2em; } }

.top-social {
  background: #EAEAEA;
  display: table;
  width: 100%; }
  .top-social ul {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 0 auto; }
    .top-social ul::after {
      clear: both;
      content: "";
      display: block; }
    .top-social ul a {
      color: #95989A; }
    .top-social ul li {
      display: inline-block;
      float: right;
      padding: .5em 1em; }
      @media screen and (max-width: 420px) {
        .top-social ul li {
          float: inherit; } }

.banner {
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  display: table;
  padding: 3em 0 10em;
  width: 100%; }
  .banner .logo-leadwise {
    display: block;
    height: 5em;
    margin: 0 auto; }
  .banner h1 {
    text-align: center; }
    @media screen and (max-width: 768px) {
      .banner h1 {
        font-size: 3em;
        padding: 0 1em; } }
  .banner .form-subscribe {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%; }
    .banner .form-subscribe:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .banner .form-subscribe {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 8.5298%; }
        .banner .form-subscribe:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 420px) {
      .banner .form-subscribe {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%; }
        .banner .form-subscribe:last-child {
          margin-right: 0; } }
    .banner .form-subscribe .subscribe-img {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 30.11389%;
      height: 10em; }
      .banner .form-subscribe .subscribe-img:last-child {
        margin-right: 0; }
      @media screen and (max-width: 420px) {
        .banner .form-subscribe .subscribe-img {
          display: none; } }
    .banner .form-subscribe form {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 65.05695%; }
      .banner .form-subscribe form:last-child {
        margin-right: 0; }
      @media screen and (max-width: 420px) {
        .banner .form-subscribe form {
          width: 100%; } }
      .banner .form-subscribe form input {
        width: 60%;
        float: left; }
        @media screen and (max-width: 420px) {
          .banner .form-subscribe form input {
            width: 100%; } }
      @media screen and (max-width: 420px) {
        .banner .form-subscribe form button, .banner .form-subscribe form .btn {
          float: right; } }

.about-lw-co {
  background: #30A7E9;
  color: #FFFFFF;
  display: table;
  padding: 3em 0;
  width: 100%; }
  .about-lw-co h3 {
    text-align: center; }
  .about-lw-co .about-col-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    padding: 0 2em; }
    .about-lw-co .about-col-2:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      .about-lw-co .about-col-2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .about-lw-co .about-col-2:last-child {
          margin-right: 0; } }
    .about-lw-co .about-col-2 img {
      height: 8em; }
  .about-lw-co .products {
    text-align: center; }

.internal-text-block {
  margin: 3em 0; }
  .internal-text-block p {
    padding: 0 15em; }
    @media screen and (max-width: 768px) {
      .internal-text-block p {
        padding: 0 8em; } }
    @media screen and (max-width: 420px) {
      .internal-text-block p {
        padding: 0 2em; } }

.semler-bio {
  display: table;
  padding-bottom: 2.5em;
  width: 100%; }
  @media screen and (max-width: 420px) {
    .semler-bio h3 {
      text-align: center; } }
  .semler-bio span {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .semler-bio span:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      .semler-bio span {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 0 2em; }
        .semler-bio span:last-child {
          margin-right: 0; } }
    .semler-bio span img {
      width: 100%; }
  .semler-bio section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .semler-bio section:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      .semler-bio section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 0 2em; }
        .semler-bio section:last-child {
          margin-right: 0; } }

.subscribe-block {
  background: #30A7E9;
  color: #FFFFFF;
  padding: 2em 0; }
  .subscribe-block img {
    height: 6em;
    float: left;
    margin: 1.5em 0;
    padding: 0 2em; }
    @media screen and (max-width: 768px) {
      .subscribe-block img {
        height: 4em; } }
    @media screen and (max-width: 420px) {
      .subscribe-block img {
        display: none; } }
  .subscribe-block h2 {
    width: 40%;
    float: left;
    margin: 1em 0; }
    @media screen and (max-width: 768px) {
      .subscribe-block h2 {
        width: 30%; } }
    @media screen and (max-width: 420px) {
      .subscribe-block h2 {
        width: 100%;
        font-size: 1.8em; } }
  .subscribe-block form {
    float: left;
    margin: 2.5em 0;
    width: 40%; }
    @media screen and (max-width: 768px) {
      .subscribe-block form {
        width: 50%; } }
    @media screen and (max-width: 420px) {
      .subscribe-block form {
        width: 100%;
        margin: 0 0 2.5em 0; } }
    .subscribe-block form input {
      width: 60%;
      float: left; }
      @media screen and (max-width: 420px) {
        .subscribe-block form input {
          width: 100%; } }
    @media screen and (max-width: 420px) {
      .subscribe-block form button, .subscribe-block form .btn {
        float: right; } }

.banner-subtitle {
  background: #FFFFFF;
  padding: 1em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .banner-subtitle:last-child {
    margin-right: 0; }
  @media screen and (max-width: 420px) {
    .banner-subtitle {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .banner-subtitle:last-child {
        margin-right: 0; } }
  .banner-subtitle h2 {
    color: #95989A;
    text-align: center; }

footer {
  background: #4B4B4B;
  color: #D0D0D0;
  padding: 3em 0; }
  footer section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    padding: 0 2em; }
    footer section:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      footer section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0; }
        footer section:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 420px) {
      footer section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        footer section:last-child {
          margin-right: 0; } }
    footer section .logo-leadwise {
      height: 3em; }
    footer section ul {
      padding: 0; }
      footer section ul a {
        color: #95989A; }
      footer section ul li {
        display: inline-block; }
        footer section ul li i {
          padding: .5em; }
    footer section h4 {
      font-size: 1.5em; }
    footer section .menu-links li {
      display: block;
      text-transform: uppercase; }
    footer section .menu-links p {
      font-size: .85em;
      margin: .5em 0; }
    footer section .footer-col-2 {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 46.28851%; }
      footer section .footer-col-2:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        footer section .footer-col-2 {
          width: 100%; } }
  footer .footer-bye {
    font-size: .8em;
    text-align: center; }

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  color: #000; }

#cookie, #privacy {
  display: none; }

.modalDialog > div {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 10px 13px 20px;
  border-radius: 10px;
  background: #fff; }

.modal-body {
  overflow-y: scroll;
  height: 380px; }

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000; }

.close:hover {
  background: #00d9ff; }

/*# sourceMappingURL=style.css.map */
