html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'ostrich_sansblack';
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ostrich_sansmedium';
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.svg#ostrich_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_light';
  src: url("../fonts/opensans/light/opensans-light-webfont.eot");
  src: url("../fonts/opensans/light/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans/light/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans/light/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_bold';
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_italic';
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
p a {
  color: #30A7E9;
  text-decoration: none; }

h1 {
  color: #30A7E9;
  font-family: 'ostrich_sansblack';
  font-size: 4em;
  margin: 1em 0; }

h2,
h3,
h4 {
  font-family: 'ostrich_sansmedium'; }

h2 {
  font-size: 2em;
  margin: .2em 0; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.35em; } }

h3 {
  font-size: 2.5em;
  margin: 1em 0; }

h4 {
  font-size: 2em;
  margin: .5em 0; }

h5 {
  font-family: 'open_sans_light';
  margin: 0;
  text-transform: uppercase; }

p {
  font-family: 'open_sans_light'; }

input,
textarea {
  border: 1px solid #95989A;
  font-size: 1em;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%; }
  input:focus,
  textarea:focus {
    border: 1px solid #30A7E9; }

textarea {
  resize: vertical; }

button, .btn, .btn-cta {
  background: #FFCC00;
  border: 0;
  color: #000000;
  display: inline-block;
  font-size: 1.4em;
  font-family: 'ostrich_sansmedium';
  letter-spacing: 0.1em;
  padding: .65em 1em;
  text-decoration: none; }
  button:hover, .btn:hover, .btn-cta:hover {
    cursor: pointer;
    text-decoration: none; }

.btn {
  background: #30A7E9;
  color: #FFFFFF; }

.btn-simple {
  background: #30A7E9;
  color: #FFFFFF;
  font-family: 'open_sans_light';
  padding: .5em 1em;
  text-decoration: none; }

.a-simple-link {
  font-family: 'open_sans_bold';
  color: #30A7E9;
  padding: 0 2em;
  text-decoration: none; }

a:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.programs .wrap-content {
  width: 800px; }
  @media screen and (max-width: 768px) {
    .programs .wrap-content {
      width: 100%; } }

.banner {
  background: url("../images/banner-bg.jpg") 0 -55px;
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  padding: 70px 0 150px 0;
  text-align: center;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .banner {
      padding: 70px 0 40px 0; } }
  .banner .logo-leadwise {
    width: 180px;
    display: block;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .banner .logo-leadwise {
        width: 150px; } }

.banner-heading h1 {
  margin: 37px 0 15px 0;
  line-height: 60px; }
  @media screen and (max-width: 768px) {
    .banner-heading h1 {
      line-height: 31px;
      margin: 0; } }
.banner-heading h2 {
  width: 760px;
  color: #95989A;
  text-align: center;
  letter-spacing: .02em;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .banner-heading h2 {
      width: 100%;
      font-size: 22px; } }
@media screen and (max-width: 768px) {
  .banner-heading {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 10px 10px 10px; } }

.sub-banner::after {
  clear: both;
  content: "";
  display: block; }
.sub-banner .call-01,
.sub-banner .call-02 {
  width: 50%;
  height: 240px;
  box-sizing: border-box;
  background-size: cover;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .sub-banner .call-01,
    .sub-banner .call-02 {
      width: 100%;
      height: auto; }
      .sub-banner .call-01 br,
      .sub-banner .call-02 br {
        display: none; } }
  .sub-banner .call-01 > div,
  .sub-banner .call-02 > div {
    padding: 40px 0 0 0;
    height: 240px; }
  .sub-banner .call-01 h3,
  .sub-banner .call-02 h3 {
    margin: 0 0 15px 0; }
    @media screen and (max-width: 768px) {
      .sub-banner .call-01 h3,
      .sub-banner .call-02 h3 {
        font-size: 26px; } }
  .sub-banner .call-01 p,
  .sub-banner .call-02 p {
    margin: 0;
    width: 300px; }
.sub-banner .call-01 {
  background: url("../images/square-bg-01.jpg");
  text-align: right;
  float: left; }
  .sub-banner .call-01 > div {
    padding-right: 30px;
    background: rgba(60, 165, 224, 0.9); }
  .sub-banner .call-01 p {
    float: right; }
.sub-banner .call-02 {
  background: url("../images/square-bg-02.jpg");
  float: right; }
  .sub-banner .call-02 > div {
    padding-left: 30px;
    background: rgba(211, 161, 4, 0.9); }

.blue-but {
  border: 1px solid #30A7E9;
  background: rgba(234, 234, 234, 0.7);
  color: #30A7E9; }

.orange-but {
  border: 1px solid #d3a104;
  background: rgba(234, 234, 234, 0.7);
  color: #d3a104; }

.sample-but {
  height: 40px;
  line-height: 41px;
  padding: 0 15px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  font-family: 'open_sans_bold';
  text-align: left !important;
  margin-right: 4px;
  margin-top: 15px; }
  @media screen and (max-width: 768px) {
    .sample-but {
      width: 100%;
      display: block;
      box-sizing: border-box;
      margin-top: 7px; } }
  .sample-but:hover {
    opacity: .9; }
  .sample-but .fa {
    margin: 11px 10px 0 0;
    font-size: 18px;
    float: left; }

.programs {
  text-align: center;
  padding: 1px 0 60px 0;
  background: #EAEAEA; }
  .programs h3 {
    color: #777;
    padding: 60px 0 0 0;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .programs h3 {
        font-size: 26px; } }

.programs-list {
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    .programs-list {
      margin-top: 30px; } }
  .programs-list li {
    background: #fff;
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 15px;
    box-shadow: 0 0 10px #d7d7d7;
    position: relative; }
    .programs-list li::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 768px) {
      .programs-list li {
        text-align: center;
        border-top: 2px solid #EAEAEA;
        padding-top: 30px;
        margin-top: 30px; } }
    .programs-list li > img {
      width: 200px;
      float: left; }
      @media screen and (max-width: 768px) {
        .programs-list li > img {
          float: none;
          margin-top: 20px; } }
  @media screen and (max-width: 768px) {
    .programs-list li:first-child {
      border-top: none;
      padding-top: 0;
      margin-top: 0; } }
  .programs-list .program-infos {
    margin-left: 230px;
    margin-right: 170px;
    border-right: 1px solid #EAEAEA;
    padding: 10px 20px 0 0; }
    @media screen and (max-width: 768px) {
      .programs-list .program-infos {
        margin: 20px 0 0 0;
        text-align: left;
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid #EAEAEA;
        padding-bottom: 25px; } }
    .programs-list .program-infos .second {
      margin-left: 20px; }
  .programs-list h4 {
    margin: 0 0 5px 0; }
    .programs-list h4 a {
      text-decoration: none; }
      .programs-list h4 a:hover {
        opacity: .8; }
  .programs-list p {
    font-size: 14px;
    margin: 7px 0 0 0;
    line-height: 22px; }
    @media screen and (max-width: 768px) {
      .programs-list p {
        margin-bottom: 15px; } }

.program-aside {
  width: 150px;
  position: absolute;
  right: 10px;
  top: 15px; }
  @media screen and (max-width: 768px) {
    .program-aside {
      width: 100%;
      position: inherit;
      right: none;
      top: none;
      text-align: left;
      padding-bottom: 20px;
      right: 0; } }
  .program-aside > div {
    font-size: 12px;
    margin-top: 10px;
    color: #95989A; }
    .program-aside > div strong {
      font-family: 'open_sans_bold'; }

.in-person {
  font-family: open_sans_bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #000 !important; }

.soon {
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  background: #ffcc00;
  display: inline-block;
  color: #000;
  font-family: open_sans_bold;
  font-size: 11px;
  text-transform: uppercase; }

.program-type-01 h4 {
  color: #30A7E9; }
  .program-type-01 h4 a {
    color: #30A7E9; }

.program-type-02 h4 {
  color: #d3a104 !important; }
  .program-type-02 h4 a {
    color: #d3a104 !important; }

.banner-404 h1 {
  margin: 20px 0 10px 0; }
  @media screen and (max-width: 768px) {
    .banner-404 h1 {
      margin: 0; } }
.banner-404 .btn {
  margin-top: 40px; }
  @media screen and (max-width: 768px) {
    .banner-404 .btn {
      margin-top: 20px; } }

/*# sourceMappingURL=style.css.map */
